{% extends "layout.html" %}

{% block content %}
<section id="home">
    <img src="static/me.jpg" style="width: 350px;height:400px;">
    <h2 class = "about">About Me</h2>
    <p class = "about">
        Ambitious student with a strong foundation in C and Python programming languages. Excellent public speaking and presentation skills, with experience in delivering professional speeches. Seeking opportunities to apply programming knowledge and continue personal and professional growth in a dynamic and challenging environment.
    </p>
</section>
{% endblock %}
