{% extends "layout.html" %}

{% block content %}
<section id="projects">
    <h2>Projects</h2>
    <h3>Store Stock Management System</h3>
    <p><ul><li>The Store Management System: a versatile Python application designed to empower small store owners with an efficient and easy-to-use
        solution for managing their stock inventory.</li>
        <li>This comprehensive system uses the power of SQLite as a database engine to provide a unified platform for stock tracking, item additions,
        stock updates, sales transactions, and item displays.</li>
        <li>The perfect tool for small businesses, convenience stores, or any establishment looking to streamline operations, maintain accurate stock
        records, and enhance customer service.</li> 
        </ul>
    </p>
    <p><a href="https://github.com/me50/Vishak05.git">GitHub Link</a> | <a href="https://youtu.be/eh7cqutcVKE">YouTube Demo</a></p>
</section>
{% endblock %}
